In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

df_data=pd.read_csv("data_1.csv",usecols=[1,2,3],encoding="gb2312")

### 对于空值进行处理，就近原则进行填充

In [2]:
is_null=(df_data["流量"].isnull().values)
index=[]
for i in range(is_null.shape[0]):
    if is_null[i]==True:
        index.append(i)
print(index)
for i in index:
    df_data.iat[i,2]=(df_data.iat[i-1,2]+df_data.iat[i+1,2])/2

is_null=(df_data["流量"].isnull().values)
index=[]
for i in range(is_null.shape[0]):
    if is_null[i]==True:
        index.append(i)
print(index)
for i in index:
    df_data.iat[i,2]=(df_data.iat[i-24,2]+df_data.iat[i+24,2])/2
    
is_null=(df_data["流量"].isnull().values)
index=[]
for i in range(is_null.shape[0]):
    if is_null[i]==True:
        index.append(i)
print(index)
for i in index:
    df_data.iat[i,2]=(df_data.iat[i-24*7,2]+df_data.iat[i+24*7,2])/2

is_null=(df_data["流量"].isnull().values)
index=[]
for i in range(is_null.shape[0]):
    if is_null[i]==True:
        index.append(i)
print(index)
df_data.shape

[73, 160, 194, 195, 196, 197, 218, 219, 220, 221, 261, 445, 911, 1495, 1496, 1925, 2262, 5020, 5106, 5380, 9774, 11695, 13842, 13846, 13921, 14018, 14442, 14648, 14867, 14974, 16489, 16576, 16610, 16611, 16612, 16634, 16635, 16636, 16677, 16861, 17327, 17911, 17912, 18341, 18678, 21436, 21522, 21796, 26190, 28111, 30258, 30262, 30337, 30434, 30858, 31064, 31283, 31390, 32905, 32992, 33026, 33027, 33028, 33029, 33050, 33051, 33052, 33053, 33093, 33277, 33743, 34327, 34328, 34757, 35094, 37852, 37938, 38212, 39727, 39728, 39729, 39730, 39731, 39732, 39733, 39734, 39735, 39736, 39737, 39738, 39739, 39740, 39741, 39742, 39743, 42606, 44527, 46674, 46678, 46753, 46850, 47274, 47480, 47699, 47806]
[194, 195, 196, 197, 218, 219, 220, 221, 1495, 1496, 16610, 16611, 16612, 16634, 16635, 16636, 17911, 17912, 33026, 33027, 33028, 33029, 33050, 33051, 33052, 33053, 34327, 34328, 39727, 39728, 39729, 39730, 39731, 39732, 39733, 39734, 39735, 39736, 39737, 39738, 39739, 39740, 39741, 39742, 39743]
[194, 195, 196, 197, 218, 219, 220, 221, 16610, 16611, 16612, 16634, 16635, 16636, 33026, 33027, 33028, 33029, 33050, 33051, 33052, 33053]
[]

(49248, 3)

### 为了规则的方便，筛选出1月2日以后的数据，同时分出不同城市的数据

In [3]:
df_celected=df_data.loc[df_data["时间"]>="2017-01-02 00:00:00"]
#print(df_celected)
df_data_A=df_celected.loc[df_celected["地市"]=="A"]
df_data_B=df_celected.loc[df_celected["地市"]=="B"]
df_data_C=df_celected.loc[df_celected["地市"]=="C"]
# print(df_data_A.shape)
# print(df_data_B.shape)
# print(df_data_C.shape)
df_data_A

                        时间 地市         流量
24     2017-01-02 00:00:00  A   3.696607
25     2017-01-02 01:00:00  A   2.265064
26     2017-01-02 02:00:00  A   1.286139
27     2017-01-02 03:00:00  A   0.762149
28     2017-01-02 04:00:00  A   0.480649
29     2017-01-02 05:00:00  A   0.476143
30     2017-01-02 06:00:00  A   0.713217
31     2017-01-02 07:00:00  A   1.308541
32     2017-01-02 08:00:00  A   2.001054
33     2017-01-02 09:00:00  A   2.717089
34     2017-01-02 10:00:00  A   3.394725
35     2017-01-02 11:00:00  A   3.813036
36     2017-01-02 12:00:00  A   4.157322
37     2017-01-02 13:00:00  A   3.398238
38     2017-01-02 14:00:00  A   2.732501
39     2017-01-02 15:00:00  A   2.769116
40     2017-01-02 16:00:00  A   2.824430
41     2017-01-02 17:00:00  A   3.539293
42     2017-01-02 18:00:00  A   3.682716
43     2017-01-02 19:00:00  A   3.118377
44     2017-01-02 20:00:00  A   3.476974
45     2017-01-02 21:00:00  A   4.547733
46     2017-01-02 22:00:00  A   4.403462
47     2017-01-02 23:00:00  A   5.446996
48     2017-01-03 00:00:00  A   4.112476
49     2017-01-03 01:00:00  A   2.276218
50     2017-01-03 02:00:00  A   1.244252
51     2017-01-03 03:00:00  A   0.720778
52     2017-01-03 04:00:00  A   0.497126
53     2017-01-03 05:00:00  A   0.474301
...                    ... ..        ...
16386  2018-11-14 18:00:00  A  25.010877
16387  2018-11-14 19:00:00  A  25.211024
16388  2018-11-14 20:00:00  A  25.377625
16389  2018-11-14 21:00:00  A  25.674337
16390  2018-11-14 22:00:00  A  25.224111
16391  2018-11-14 23:00:00  A  22.862639
16392  2018-11-15 00:00:00  A  15.575510
16393  2018-11-15 01:00:00  A   8.455592
16394  2018-11-15 02:00:00  A   4.844733
16395  2018-11-15 03:00:00  A   3.171170
16396  2018-11-15 04:00:00  A   2.524190
16397  2018-11-15 05:00:00  A   3.163306
16398  2018-11-15 06:00:00  A   6.097057
16399  2018-11-15 07:00:00  A  11.826577
16400  2018-11-15 08:00:00  A  16.693279
16401  2018-11-15 09:00:00  A  17.907833
16402  2018-11-15 10:00:00  A  19.858742
16403  2018-11-15 11:00:00  A  21.727568
16404  2018-11-15 12:00:00  A  26.476163
16405  2018-11-15 13:00:00  A  22.388947
16406  2018-11-15 14:00:00  A  20.374477
16407  2018-11-15 15:00:00  A  20.999062
16408  2018-11-15 16:00:00  A  21.994524
16409  2018-11-15 17:00:00  A  23.317986
16410  2018-11-15 18:00:00  A  25.411155
16411  2018-11-15 19:00:00  A  18.345204
16412  2018-11-15 20:00:00  A  25.808133
16413  2018-11-15 21:00:00  A  25.964320
16414  2018-11-15 22:00:00  A  25.336504
16415  2018-11-15 23:00:00  A  23.312515

[16392 rows x 3 columns]

### 对于数据进行生成

In [4]:
###生成测试集的数据
def generate(df_city,city):
    arr_time=pd.date_range(start = '11/16/2018',end='2/25/2019',freq = 'h').astype(np.str).values[:-1]
    #print(arr_time.shape)
    arr_time=arr_time.reshape([arr_time.shape[0],1])
    list_city=[]
    list_value=[]
    for i in range(arr_time.shape[0]):
        list_city.append(city)
        list_value.append(1.0)
    arr_city=np.array(list_city)
    arr_city=arr_city.reshape([arr_city.shape[0],1])
    #arr_value=np.empty_like(arr_city)
    arr_value=np.array(list_value)
    arr_value=arr_value.reshape([arr_value.shape[0],1])
    arr_extend=np.concatenate((arr_time,arr_city,arr_value),axis=1)
    arr_city=df_city.values
    #print(arr_city.shape)
    arr_return=np.concatenate((arr_city,arr_extend),axis=0)
    list_connect=[]
    for i in range(arr_return.shape[0]):
        list_temp=[]
        year=datetime.strptime(arr_return[i][0],"%Y-%m-%d %H:%M:%S").strftime("%Y")
        month=datetime.strptime(arr_return[i][0],"%Y-%m-%d %H:%M:%S").strftime("%m")
        day=datetime.strptime(arr_return[i][0],"%Y-%m-%d %H:%M:%S").strftime("%d")
        weekday=datetime.strptime(arr_return[i][0],"%Y-%m-%d %H:%M:%S").strftime("%w")
        hour=datetime.strptime(arr_return[i][0],"%Y-%m-%d %H:%M:%S").strftime("%H")
        list_temp.append(year)
        list_temp.append(str(int(month)))
        list_temp.append(str(int(day)))
        list_temp.append(weekday)
        list_temp.append(str(int(hour)))
        list_connect.append(list_temp)
    arr_connect=np.array(list_connect)
    #print(arr_connect.shape)
    arr_index=np.array(range(arr_return.shape[0])).reshape([arr_return.shape[0],1])
    arr_return=np.concatenate((arr_index,arr_return,arr_connect),axis=1)    
    df_return=pd.DataFrame(arr_return,columns=["索引","时间","地市","流量","年份","月份","几号","周几","几点"])
    for i in range(16392,16464):
        #print(df_return.iat[i,1])
        df_return.iat[i,3]=(df_return.iat[i-24,3]+df_return.iat[i-24*7,3])/2    
    return df_return
df_temp=generate(df_data_A,"A")
#print(df_temp.iloc[16392:16466,3])
df_temp

          索引                   时间 地市        流量    年份 月份  几号 周几  几点
0          0  2017-01-02 00:00:00  A   3.69661  2017  1   2  1   0
1          1  2017-01-02 01:00:00  A   2.26506  2017  1   2  1   1
2          2  2017-01-02 02:00:00  A   1.28614  2017  1   2  1   2
3          3  2017-01-02 03:00:00  A  0.762149  2017  1   2  1   3
4          4  2017-01-02 04:00:00  A  0.480649  2017  1   2  1   4
5          5  2017-01-02 05:00:00  A  0.476143  2017  1   2  1   5
6          6  2017-01-02 06:00:00  A  0.713217  2017  1   2  1   6
7          7  2017-01-02 07:00:00  A   1.30854  2017  1   2  1   7
8          8  2017-01-02 08:00:00  A   2.00105  2017  1   2  1   8
9          9  2017-01-02 09:00:00  A   2.71709  2017  1   2  1   9
10        10  2017-01-02 10:00:00  A   3.39473  2017  1   2  1  10
11        11  2017-01-02 11:00:00  A   3.81304  2017  1   2  1  11
12        12  2017-01-02 12:00:00  A   4.15732  2017  1   2  1  12
13        13  2017-01-02 13:00:00  A   3.39824  2017  1   2  1  13
14        14  2017-01-02 14:00:00  A    2.7325  2017  1   2  1  14
15        15  2017-01-02 15:00:00  A   2.76912  2017  1   2  1  15
16        16  2017-01-02 16:00:00  A   2.82443  2017  1   2  1  16
17        17  2017-01-02 17:00:00  A   3.53929  2017  1   2  1  17
18        18  2017-01-02 18:00:00  A   3.68272  2017  1   2  1  18
19        19  2017-01-02 19:00:00  A   3.11838  2017  1   2  1  19
20        20  2017-01-02 20:00:00  A   3.47697  2017  1   2  1  20
21        21  2017-01-02 21:00:00  A   4.54773  2017  1   2  1  21
22        22  2017-01-02 22:00:00  A   4.40346  2017  1   2  1  22
23        23  2017-01-02 23:00:00  A     5.447  2017  1   2  1  23
24        24  2017-01-03 00:00:00  A   4.11248  2017  1   3  2   0
25        25  2017-01-03 01:00:00  A   2.27622  2017  1   3  2   1
26        26  2017-01-03 02:00:00  A   1.24425  2017  1   3  2   2
27        27  2017-01-03 03:00:00  A  0.720778  2017  1   3  2   3
28        28  2017-01-03 04:00:00  A  0.497126  2017  1   3  2   4
29        29  2017-01-03 05:00:00  A  0.474301  2017  1   3  2   5
...      ...                  ... ..       ...   ... ..  .. ..  ..
18786  18786  2019-02-23 18:00:00  A         1  2019  2  23  6  18
18787  18787  2019-02-23 19:00:00  A         1  2019  2  23  6  19
18788  18788  2019-02-23 20:00:00  A         1  2019  2  23  6  20
18789  18789  2019-02-23 21:00:00  A         1  2019  2  23  6  21
18790  18790  2019-02-23 22:00:00  A         1  2019  2  23  6  22
18791  18791  2019-02-23 23:00:00  A         1  2019  2  23  6  23
18792  18792  2019-02-24 00:00:00  A         1  2019  2  24  0   0
18793  18793  2019-02-24 01:00:00  A         1  2019  2  24  0   1
18794  18794  2019-02-24 02:00:00  A         1  2019  2  24  0   2
18795  18795  2019-02-24 03:00:00  A         1  2019  2  24  0   3
18796  18796  2019-02-24 04:00:00  A         1  2019  2  24  0   4
18797  18797  2019-02-24 05:00:00  A         1  2019  2  24  0   5
18798  18798  2019-02-24 06:00:00  A         1  2019  2  24  0   6
18799  18799  2019-02-24 07:00:00  A         1  2019  2  24  0   7
18800  18800  2019-02-24 08:00:00  A         1  2019  2  24  0   8
18801  18801  2019-02-24 09:00:00  A         1  2019  2  24  0   9
18802  18802  2019-02-24 10:00:00  A         1  2019  2  24  0  10
18803  18803  2019-02-24 11:00:00  A         1  2019  2  24  0  11
18804  18804  2019-02-24 12:00:00  A         1  2019  2  24  0  12
18805  18805  2019-02-24 13:00:00  A         1  2019  2  24  0  13
18806  18806  2019-02-24 14:00:00  A         1  2019  2  24  0  14
18807  18807  2019-02-24 15:00:00  A         1  2019  2  24  0  15
18808  18808  2019-02-24 16:00:00  A         1  2019  2  24  0  16
18809  18809  2019-02-24 17:00:00  A         1  2019  2  24  0  17
18810  18810  2019-02-24 18:00:00  A         1  2019  2  24  0  18
18811  18811  2019-02-24 19:00:00  A         1  2019  2  24  0  19
18812  18812  2019-02-24 20:00:00  A         1  2019  2  24  0  20
18813  18813  2019-02-24 21:00:00  A         1  2019  2  24  0  21
18814  18814  2019-02-24 22:00:00  A         1  2019  2  24  0  22
18815  18815  2019-02-24 23:00:00  A         1  2019  2  24  0  23

[18816 rows x 9 columns]

In [5]:
##加入规则一特征（滑动窗口选8）
def add_rule1(df_temp):
    print(df_temp.shape)
    arr_list=[]
    #week_list=["1"]
    week_list=[str(i) for i in range(7)]
    for weekday in week_list:
        df_weekday=df_temp.loc[df_temp["周几"]==weekday]
        arr_result=df_weekday.values
        arr_weekday=df_weekday["流量"].values
        arr_weekday_list=[]
        for i in range(arr_weekday.shape[0]//24):
            arr_weekday_list.append(arr_weekday[i*24:(i+1)*24].reshape([1,24]))
        arr_weekday_get=arr_weekday_list[0]
        for i in range(1,len(arr_weekday_list)):
            arr_weekday_get=np.concatenate((arr_weekday_get,arr_weekday_list[i]),axis=0)
        arr_weekday_get=arr_weekday_get.astype(np.float64)
        arr_sum=np.sum(arr_weekday_get,axis=1).reshape([arr_weekday_get.shape[0],1])
        arr_weekday_get=arr_weekday_get/arr_sum
        arr_pre_list=[]
        arr_pre_list.append(((arr_weekday_get[0,:])*arr_sum[0,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[0,:])*arr_sum[0,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[1,:])*arr_sum[1,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[2,:])*arr_sum[2,0]).reshape([24,1]))
        for i in range(4,8):
            arr_temp=arr_weekday_get[0:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(8,98):
            arr_temp=arr_weekday_get[i-8:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(98,arr_weekday_get.shape[0]):
            arr_temp=arr_weekday_get[i-8:i,:]            
            arr_med=np.median(arr_temp,axis=0)
            arr_sum[i]=np.mean(arr_sum[i-8:i])
            arr_weekday_get[i,:]=arr_med
            arr_med=arr_med.reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        arr_pre=arr_pre_list[0]
        for i in range(1,len(arr_pre_list)):
            arr_pre=np.concatenate((arr_pre,arr_pre_list[i]),axis=0)
        arr_result=np.concatenate((arr_result,arr_pre),axis=1)
        arr_list.append(arr_result)
    arr_rule1=arr_list[0]
    for i in range(1,len(arr_list)):
        arr_rule1=np.concatenate((arr_rule1,arr_list[i]),axis=0)
    df_rule1=pd.DataFrame(arr_rule1,columns=["索引","时间","地市","流量","年份","月份","几号","周几","几点","规则一(8)"])
    df_rule1=df_rule1.sort_values("索引")
    return df_rule1
df_rule1=add_rule1(df_temp)
df_rule1

(18816, 9)

          索引                   时间 地市        流量    年份 月份  几号 周几  几点    规则一(8)
2688       0  2017-01-02 00:00:00  A   3.69661  2017  1   2  1   0   3.69661
2689       1  2017-01-02 01:00:00  A   2.26506  2017  1   2  1   1   2.26506
2690       2  2017-01-02 02:00:00  A   1.28614  2017  1   2  1   2   1.28614
2691       3  2017-01-02 03:00:00  A  0.762149  2017  1   2  1   3  0.762149
2692       4  2017-01-02 04:00:00  A  0.480649  2017  1   2  1   4  0.480649
2693       5  2017-01-02 05:00:00  A  0.476143  2017  1   2  1   5  0.476143
2694       6  2017-01-02 06:00:00  A  0.713217  2017  1   2  1   6  0.713217
2695       7  2017-01-02 07:00:00  A   1.30854  2017  1   2  1   7   1.30854
2696       8  2017-01-02 08:00:00  A   2.00105  2017  1   2  1   8   2.00105
2697       9  2017-01-02 09:00:00  A   2.71709  2017  1   2  1   9   2.71709
2698      10  2017-01-02 10:00:00  A   3.39473  2017  1   2  1  10   3.39473
2699      11  2017-01-02 11:00:00  A   3.81304  2017  1   2  1  11   3.81304
2700      12  2017-01-02 12:00:00  A   4.15732  2017  1   2  1  12   4.15732
2701      13  2017-01-02 13:00:00  A   3.39824  2017  1   2  1  13   3.39824
2702      14  2017-01-02 14:00:00  A    2.7325  2017  1   2  1  14    2.7325
2703      15  2017-01-02 15:00:00  A   2.76912  2017  1   2  1  15   2.76912
2704      16  2017-01-02 16:00:00  A   2.82443  2017  1   2  1  16   2.82443
2705      17  2017-01-02 17:00:00  A   3.53929  2017  1   2  1  17   3.53929
2706      18  2017-01-02 18:00:00  A   3.68272  2017  1   2  1  18   3.68272
2707      19  2017-01-02 19:00:00  A   3.11838  2017  1   2  1  19   3.11838
2708      20  2017-01-02 20:00:00  A   3.47697  2017  1   2  1  20   3.47697
2709      21  2017-01-02 21:00:00  A   4.54773  2017  1   2  1  21   4.54773
2710      22  2017-01-02 22:00:00  A   4.40346  2017  1   2  1  22   4.40346
2711      23  2017-01-02 23:00:00  A     5.447  2017  1   2  1  23     5.447
5376      24  2017-01-03 00:00:00  A   4.11248  2017  1   3  2   0   4.11248
5377      25  2017-01-03 01:00:00  A   2.27622  2017  1   3  2   1   2.27622
5378      26  2017-01-03 02:00:00  A   1.24425  2017  1   3  2   2   1.24425
5379      27  2017-01-03 03:00:00  A  0.720778  2017  1   3  2   3  0.720778
5380      28  2017-01-03 04:00:00  A  0.497126  2017  1   3  2   4  0.497126
5381      29  2017-01-03 05:00:00  A  0.474301  2017  1   3  2   5  0.474301
...      ...                  ... ..       ...   ... ..  .. ..  ..       ...
18810  18786  2019-02-23 18:00:00  A         1  2019  2  23  6  18   24.7794
18811  18787  2019-02-23 19:00:00  A         1  2019  2  23  6  19   25.1077
18812  18788  2019-02-23 20:00:00  A         1  2019  2  23  6  20   25.6305
18813  18789  2019-02-23 21:00:00  A         1  2019  2  23  6  21   25.3951
18814  18790  2019-02-23 22:00:00  A         1  2019  2  23  6  22   23.8325
18815  18791  2019-02-23 23:00:00  A         1  2019  2  23  6  23   21.5648
2664   18792  2019-02-24 00:00:00  A         1  2019  2  24  0   0   16.4964
2665   18793  2019-02-24 01:00:00  A         1  2019  2  24  0   1   9.71335
2666   18794  2019-02-24 02:00:00  A         1  2019  2  24  0   2   5.57205
2667   18795  2019-02-24 03:00:00  A         1  2019  2  24  0   3   3.53029
2668   18796  2019-02-24 04:00:00  A         1  2019  2  24  0   4   2.62758
2669   18797  2019-02-24 05:00:00  A         1  2019  2  24  0   5   3.04401
2670   18798  2019-02-24 06:00:00  A         1  2019  2  24  0   6   5.09642
2671   18799  2019-02-24 07:00:00  A         1  2019  2  24  0   7   9.48278
2672   18800  2019-02-24 08:00:00  A         1  2019  2  24  0   8   13.8234
2673   18801  2019-02-24 09:00:00  A         1  2019  2  24  0   9   17.1704
2674   18802  2019-02-24 10:00:00  A         1  2019  2  24  0  10   19.9775
2675   18803  2019-02-24 11:00:00  A         1  2019  2  24  0  11   22.0486
2676   18804  2019-02-24 12:00:00  A         1  2019  2  24  0  12   23.5073
2677   18805  2019-02-24 13:00:00  A         1  2019  2  24  0  13   21.9914
2678   18806  2019-02-24 14:00:00  A         1  2019  2  24  0  14   21.4396
2679   18807  2019-02-24 15:00:00  A         1  2019  2  24  0  15   21.3992
2680   18808  2019-02-24 16:00:00  A         1  2019  2  24  0  16   22.6898
2681   18809  2019-02-24 17:00:00  A         1  2019  2  24  0  17   22.7717
2682   18810  2019-02-24 18:00:00  A         1  2019  2  24  0  18   24.1436
2683   18811  2019-02-24 19:00:00  A         1  2019  2  24  0  19   24.4372
2684   18812  2019-02-24 20:00:00  A         1  2019  2  24  0  20    25.069
2685   18813  2019-02-24 21:00:00  A         1  2019  2  24  0  21   24.9043
2686   18814  2019-02-24 22:00:00  A         1  2019  2  24  0  22   24.1055
2687   18815  2019-02-24 23:00:00  A         1  2019  2  24  0  23   21.9142

[18816 rows x 10 columns]

In [7]:
##加入规则一特征（滑动窗口选6）
def add_rule1_1(df_temp):
    print(df_temp.shape)
    arr_list=[]
    #week_list=["1"]
    week_list=[str(i) for i in range(7)]
    for weekday in week_list:
        df_weekday=df_temp.loc[df_temp["周几"]==weekday]
        arr_result=df_weekday.values
        arr_weekday=df_weekday["流量"].values
        arr_weekday_list=[]
        for i in range(arr_weekday.shape[0]//24):
            arr_weekday_list.append(arr_weekday[i*24:(i+1)*24].reshape([1,24]))
        arr_weekday_get=arr_weekday_list[0]
        for i in range(1,len(arr_weekday_list)):
            arr_weekday_get=np.concatenate((arr_weekday_get,arr_weekday_list[i]),axis=0)
        arr_weekday_get=arr_weekday_get.astype(np.float64)
        arr_sum=np.sum(arr_weekday_get,axis=1).reshape([arr_weekday_get.shape[0],1])
        arr_weekday_get=arr_weekday_get/arr_sum
        arr_pre_list=[]
        arr_pre_list.append(((arr_weekday_get[0,:])*arr_sum[0,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[0,:])*arr_sum[0,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[1,:])*arr_sum[1,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[2,:])*arr_sum[2,0]).reshape([24,1]))
        for i in range(4,6):
            arr_temp=arr_weekday_get[0:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(6,98):
            arr_temp=arr_weekday_get[i-6:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(98,arr_weekday_get.shape[0]):
            arr_temp=arr_weekday_get[i-6:i,:]            
            arr_med=np.median(arr_temp,axis=0)
            arr_sum[i]=np.mean(arr_sum[i-6:i])
            arr_weekday_get[i,:]=arr_med
            arr_med=arr_med.reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        arr_pre=arr_pre_list[0]
        for i in range(1,len(arr_pre_list)):
            arr_pre=np.concatenate((arr_pre,arr_pre_list[i]),axis=0)
        arr_result=np.concatenate((arr_result,arr_pre),axis=1)
        arr_list.append(arr_result)
    arr_rule1=arr_list[0]
    for i in range(1,len(arr_list)):
        arr_rule1=np.concatenate((arr_rule1,arr_list[i]),axis=0)
    df_rule1=pd.DataFrame(arr_rule1,columns=["索引","时间","地市","流量","年份","月份","几号","周几","几点","规则一(8)","规则一(6)"])
    df_rule1=df_rule1.sort_values("索引")
    return df_rule1
df_rule1_1=add_rule1_1(df_rule1)
df_rule1_1

(18816, 10)

,索引,时间,地市,流量,年份,月份,几号,周几,几点,规则一(8),规则一(6)
2688,0,2017-01-02 00:00:00,A,3.69661,2017,1,2,1,0,3.69661,3.69661
2689,1,2017-01-02 01:00:00,A,2.26506,2017,1,2,1,1,2.26506,2.26506
2690,2,2017-01-02 02:00:00,A,1.28614,2017,1,2,1,2,1.28614,1.28614
2691,3,2017-01-02 03:00:00,A,0.762149,2017,1,2,1,3,0.762149,0.762149
2692,4,2017-01-02 04:00:00,A,0.480649,2017,1,2,1,4,0.480649,0.480649
2693,5,2017-01-02 05:00:00,A,0.476143,2017,1,2,1,5,0.476143,0.476143
2694,6,2017-01-02 06:00:00,A,0.713217,2017,1,2,1,6,0.713217,0.713217
2695,7,2017-01-02 07:00:00,A,1.30854,2017,1,2,1,7,1.30854,1.30854
2696,8,2017-01-02 08:00:00,A,2.00105,2017,1,2,1,8,2.00105,2.00105
2697,9,2017-01-02 09:00:00,A,2.71709,2017,1,2,1,9,2.71709,2.71709
2698,10,2017-01-02 10:00:00,A,3.39473,2017,1,2,1,10,3.39473,3.39473
2699,11,2017-01-02 11:00:00,A,3.81304,2017,1,2,1,11,3.81304,3.81304
2700,12,2017-01-02 12:00:00,A,4.15732,2017,1,2,1,12,4.15732,4.15732
2701,13,2017-01-02 13:00:00,A,3.39824,2017,1,2,1,13,3.39824,3.39824
2702,14,2017-01-02 14:00:00,A,2.7325,2017,1,2,1,14,2.7325,2.7325
2703,15,2017-01-02 15:00:00,A,2.76912,2017,1,2,1,15,2.76912,2.76912
2704,16,2017-01-02 16:00:00,A,2.82443,2017,1,2,1,16,2.82443,2.82443
2705,17,2017-01-02 17:00:00,A,3.53929,2017,1,2,1,17,3.53929,3.53929
2706,18,2017-01-02 18:00:00,A,3.68272,2017,1,2,1,18,3.68272,3.68272
2707,19,2017-01-02 19:00:00,A,3.11838,2017,1,2,1,19,3.11838,3.11838
2708,20,2017-01-02 20:00:00,A,3.47697,2017,1,2,1,20,3.47697,3.47697
2709,21,2017-01-02 21:00:00,A,4.54773,2017,1,2,1,21,4.54773,4.54773
2710,22,2017-01-02 22:00:00,A,4.40346,2017,1,2,1,22,4.40346,4.40346
2711,23,2017-01-02 23:00:00,A,5.447,2017,1,2,1,23,5.447,5.447
5376,24,2017-01-03 00:00:00,A,4.11248,2017,1,3,2,0,4.11248,4.11248
5377,25,2017-01-03 01:00:00,A,2.27622,2017,1,3,2,1,2.27622,2.27622
5378,26,2017-01-03 02:00:00,A,1.24425,2017,1,3,2,2,1.24425,1.24425
5379,27,2017-01-03 03:00:00,A,0.720778,2017,1,3,2,3,0.720778,0.720778
5380,28,2017-01-03 04:00:00,A,0.497126,2017,1,3,2,4,0.497126,0.497126
5381,29,2017-01-03 05:00:00,A,0.474301,2017,1,3,2,5,0.474301,0.474301
...,...,...,...,...,...,...,...,...,...,...,...
18810,18786,2019-02-23 18:00:00,A,1,2019,2,23,6,18,24.7794,25.1802
18811,18787,2019-02-23 19:00:00,A,1,2019,2,23,6,19,25.1077,25.2046
18812,18788,2019-02-23 20:00:00,A,1,2019,2,23,6,20,25.6305,25.9121
18813,18789,2019-02-23 21:00:00,A,1,2019,2,23,6,21,25.3951,25.1447
18814,18790,2019-02-23 22:00:00,A,1,2019,2,23,6,22,23.8325,24.1161
18815,18791,2019-02-23 23:00:00,A,1,2019,2,23,6,23,21.5648,21.8333
2664,18792,2019-02-24 00:00:00,A,1,2019,2,24,0,0,16.4964,16.9132
2665,18793,2019-02-24 01:00:00,A,1,2019,2,24,0,1,9.71335,10.2406
2666,18794,2019-02-24 02:00:00,A,1,2019,2,24,0,2,5.57205,6.01874
2667,18795,2019-02-24 03:00:00,A,1,2019,2,24,0,3,3.53029,3.8542
2668,18796,2019-02-24 04:00:00,A,1,2019,2,24,0,4,2.62758,2.80736
2669,18797,2019-02-24 05:00:00,A,1,2019,2,24,0,5,3.04401,3.053
2670,18798,2019-02-24 06:00:00,A,1,2019,2,24,0,6,5.09642,5.09934
2671,18799,2019-02-24 07:00:00,A,1,2019,2,24,0,7,9.48278,9.51153
2672,18800,2019-02-24 08:00:00,A,1,2019,2,24,0,8,13.8234,13.9819
2673,18801,2019-02-24 09:00:00,A,1,2019,2,24,0,9,17.1704,17.3133
2674,18802,2019-02-24 10:00:00,A,1,2019,2,24,0,10,19.9775,20.1659
2675,18803,2019-02-24 11:00:00,A,1,2019,2,24,0,11,22.0486,22.3061
2676,18804,2019-02-24 12:00:00,A,1,2019,2,24,0,12,23.5073,23.7327
2677,18805,2019-02-24 13:00:00,A,1,2019,2,24,0,13,21.9914,22.2037
2678,18806,2019-02-24 14:00:00,A,1,2019,2,24,0,14,21.4396,21.6108
2679,18807,2019-02-24 15:00:00,A,1,2019,2,24,0,15,21.3992,21.4012
2680,18808,2019-02-24 16:00:00,A,1,2019,2,24,0,16,22.6898,22.8272
2681,18809,2019-02-24 17:00:00,A,1,2019,2,24,0,17,22.7717,22.808
2682,18810,2019-02-24 18:00:00,A,1,2019,2,24,0,18,24.1436,24.4397
2683,18811,2019-02-24 19:00:00,A,1,2019,2,24,0,19,24.4372,24.594
2684,18812,2019-02-24 20:00:00,A,1,2019,2,24,0,20,25.069,25.2548
2685,18813,2019-02-24 21:00:00,A,1,2019,2,24,0,21,24.9043,25.071
2686,18814,2019-02-24 22:00:00,A,1,2019,2,24,0,22,24.1055,24.306
2687,18815,2019-02-24 23:00:00,A,1,2019,2,24,0,23,21.9142,22.1599

In [10]:
##加入规则一特征（滑动窗口选4）
def add_rule1_2(df_temp):
    print(df_temp.shape)
    arr_list=[]
    #week_list=["1"]
    week_list=[str(i) for i in range(7)]
    for weekday in week_list:
        df_weekday=df_temp.loc[df_temp["周几"]==weekday]
        arr_result=df_weekday.values
        arr_weekday=df_weekday["流量"].values
        arr_weekday_list=[]
        for i in range(arr_weekday.shape[0]//24):
            arr_weekday_list.append(arr_weekday[i*24:(i+1)*24].reshape([1,24]))
        arr_weekday_get=arr_weekday_list[0]
        for i in range(1,len(arr_weekday_list)):
            arr_weekday_get=np.concatenate((arr_weekday_get,arr_weekday_list[i]),axis=0)
        arr_weekday_get=arr_weekday_get.astype(np.float64)
        arr_sum=np.sum(arr_weekday_get,axis=1).reshape([arr_weekday_get.shape[0],1])
        arr_weekday_get=arr_weekday_get/arr_sum
        arr_pre_list=[]
        arr_pre_list.append(((arr_weekday_get[0,:])*arr_sum[0,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[0,:])*arr_sum[0,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[1,:])*arr_sum[1,0]).reshape([24,1]))
        arr_pre_list.append(((arr_weekday_get[2,:])*arr_sum[2,0]).reshape([24,1]))
#         for i in range(4,8):
#             arr_temp=arr_weekday_get[0:i,:]
#             arr_med=np.median(arr_temp,axis=0).reshape([24,1])
#             arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(4,98):
            arr_temp=arr_weekday_get[i-4:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(98,arr_weekday_get.shape[0]):
            arr_temp=arr_weekday_get[i-4:i,:]            
            arr_med=np.median(arr_temp,axis=0)
            arr_sum[i]=np.mean(arr_sum[i-4:i])
            arr_weekday_get[i,:]=arr_med
            arr_med=arr_med.reshape([24,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        arr_pre=arr_pre_list[0]
        for i in range(1,len(arr_pre_list)):
            arr_pre=np.concatenate((arr_pre,arr_pre_list[i]),axis=0)
        arr_result=np.concatenate((arr_result,arr_pre),axis=1)
        arr_list.append(arr_result)
    arr_rule1=arr_list[0]
    for i in range(1,len(arr_list)):
        arr_rule1=np.concatenate((arr_rule1,arr_list[i]),axis=0)
    df_rule1=pd.DataFrame(arr_rule1,columns=["索引","时间","地市","流量","年份","月份","几号","周几","几点","规则一(8)","规则一(6)","规则一(4)"])
    df_rule1=df_rule1.sort_values("索引")
    return df_rule1
df_rule1_2=add_rule1_2(df_rule1_1)
df_rule1_2

(18816, 11)

,索引,时间,地市,流量,年份,月份,几号,周几,几点,规则一(8),规则一(6),规则一(4)
2688,0,2017-01-02 00:00:00,A,3.69661,2017,1,2,1,0,3.69661,3.69661,3.69661
2689,1,2017-01-02 01:00:00,A,2.26506,2017,1,2,1,1,2.26506,2.26506,2.26506
2690,2,2017-01-02 02:00:00,A,1.28614,2017,1,2,1,2,1.28614,1.28614,1.28614
2691,3,2017-01-02 03:00:00,A,0.762149,2017,1,2,1,3,0.762149,0.762149,0.762149
2692,4,2017-01-02 04:00:00,A,0.480649,2017,1,2,1,4,0.480649,0.480649,0.480649
2693,5,2017-01-02 05:00:00,A,0.476143,2017,1,2,1,5,0.476143,0.476143,0.476143
2694,6,2017-01-02 06:00:00,A,0.713217,2017,1,2,1,6,0.713217,0.713217,0.713217
2695,7,2017-01-02 07:00:00,A,1.30854,2017,1,2,1,7,1.30854,1.30854,1.30854
2696,8,2017-01-02 08:00:00,A,2.00105,2017,1,2,1,8,2.00105,2.00105,2.00105
2697,9,2017-01-02 09:00:00,A,2.71709,2017,1,2,1,9,2.71709,2.71709,2.71709
2698,10,2017-01-02 10:00:00,A,3.39473,2017,1,2,1,10,3.39473,3.39473,3.39473
2699,11,2017-01-02 11:00:00,A,3.81304,2017,1,2,1,11,3.81304,3.81304,3.81304
2700,12,2017-01-02 12:00:00,A,4.15732,2017,1,2,1,12,4.15732,4.15732,4.15732
2701,13,2017-01-02 13:00:00,A,3.39824,2017,1,2,1,13,3.39824,3.39824,3.39824
2702,14,2017-01-02 14:00:00,A,2.7325,2017,1,2,1,14,2.7325,2.7325,2.7325
2703,15,2017-01-02 15:00:00,A,2.76912,2017,1,2,1,15,2.76912,2.76912,2.76912
2704,16,2017-01-02 16:00:00,A,2.82443,2017,1,2,1,16,2.82443,2.82443,2.82443
2705,17,2017-01-02 17:00:00,A,3.53929,2017,1,2,1,17,3.53929,3.53929,3.53929
2706,18,2017-01-02 18:00:00,A,3.68272,2017,1,2,1,18,3.68272,3.68272,3.68272
2707,19,2017-01-02 19:00:00,A,3.11838,2017,1,2,1,19,3.11838,3.11838,3.11838
2708,20,2017-01-02 20:00:00,A,3.47697,2017,1,2,1,20,3.47697,3.47697,3.47697
2709,21,2017-01-02 21:00:00,A,4.54773,2017,1,2,1,21,4.54773,4.54773,4.54773
2710,22,2017-01-02 22:00:00,A,4.40346,2017,1,2,1,22,4.40346,4.40346,4.40346
2711,23,2017-01-02 23:00:00,A,5.447,2017,1,2,1,23,5.447,5.447,5.447
5376,24,2017-01-03 00:00:00,A,4.11248,2017,1,3,2,0,4.11248,4.11248,4.11248
5377,25,2017-01-03 01:00:00,A,2.27622,2017,1,3,2,1,2.27622,2.27622,2.27622
5378,26,2017-01-03 02:00:00,A,1.24425,2017,1,3,2,2,1.24425,1.24425,1.24425
5379,27,2017-01-03 03:00:00,A,0.720778,2017,1,3,2,3,0.720778,0.720778,0.720778
5380,28,2017-01-03 04:00:00,A,0.497126,2017,1,3,2,4,0.497126,0.497126,0.497126
5381,29,2017-01-03 05:00:00,A,0.474301,2017,1,3,2,5,0.474301,0.474301,0.474301
...,...,...,...,...,...,...,...,...,...,...,...,...
18810,18786,2019-02-23 18:00:00,A,1,2019,2,23,6,18,24.7794,25.1802,25.1475
18811,18787,2019-02-23 19:00:00,A,1,2019,2,23,6,19,25.1077,25.2046,24.3512
18812,18788,2019-02-23 20:00:00,A,1,2019,2,23,6,20,25.6305,25.9121,25.6565
18813,18789,2019-02-23 21:00:00,A,1,2019,2,23,6,21,25.3951,25.1447,25.3495
18814,18790,2019-02-23 22:00:00,A,1,2019,2,23,6,22,23.8325,24.1161,23.9768
18815,18791,2019-02-23 23:00:00,A,1,2019,2,23,6,23,21.5648,21.8333,22.3196
2664,18792,2019-02-24 00:00:00,A,1,2019,2,24,0,0,16.4964,16.9132,16.9654
2665,18793,2019-02-24 01:00:00,A,1,2019,2,24,0,1,9.71335,10.2406,10.5233
2666,18794,2019-02-24 02:00:00,A,1,2019,2,24,0,2,5.57205,6.01874,6.19256
2667,18795,2019-02-24 03:00:00,A,1,2019,2,24,0,3,3.53029,3.8542,3.89564
2668,18796,2019-02-24 04:00:00,A,1,2019,2,24,0,4,2.62758,2.80736,2.88978
2669,18797,2019-02-24 05:00:00,A,1,2019,2,24,0,5,3.04401,3.053,3.07622
2670,18798,2019-02-24 06:00:00,A,1,2019,2,24,0,6,5.09642,5.09934,5.13544
2671,18799,2019-02-24 07:00:00,A,1,2019,2,24,0,7,9.48278,9.51153,9.56761
2672,18800,2019-02-24 08:00:00,A,1,2019,2,24,0,8,13.8234,13.9819,14.0203
2673,18801,2019-02-24 09:00:00,A,1,2019,2,24,0,9,17.1704,17.3133,17.1838
2674,18802,2019-02-24 10:00:00,A,1,2019,2,24,0,10,19.9775,20.1659,20.0866
2675,18803,2019-02-24 11:00:00,A,1,2019,2,24,0,11,22.0486,22.3061,22.258
2676,18804,2019-02-24 12:00:00,A,1,2019,2,24,0,12,23.5073,23.7327,23.7128
2677,18805,2019-02-24 13:00:00,A,1,2019,2,24,0,13,21.9914,22.2037,22.1313
2678,18806,2019-02-24 14:00:00,A,1,2019,2,24,0,14,21.4396,21.6108,21.5453
2679,18807,2019-02-24 15:00:00,A,1,2019,2,24,0,15,21.3992,21.4012,21.2995
2680,18808,2019-02-24 16:00:00,A,1,2019,2,24,0,16,22.6898,22.8272,22.4437
2681,18809,2019-02-24 17:00:00,A,1,2019,2,24,0,17,22.7717,22.808,22.6377
2682,18810,2019-02-24 18:00:00,A,1,2019,2,24,0,18,24.1436,24.4397,24.2476
2683,18811,2019-02-24 19:00:00,A,1,2019,2,24,0,19,24.4372,24.594,24.5734
2684,18812,2019-02-24 20:00:00,A,1,2019,2,24,0,20,25.069,25.2548,25.2916
2685,18813,2019-02-24 21:00:00,A,1,2019,2,24,0,21,24.9043,25.071,25.1458
2686,18814,2019-02-24 22:00:00,A,1,2019,2,24,0,22,24.1055,24.306,24.2951
2687,18815,2019-02-24 23:00:00,A,1,2019,2,24,0,23,21.9142,22.1599,22.3449

In [12]:
##规则二以8为窗口
def add_rule2(df_rule1):
    #hour_list=["0"]
    hour_list=[str(i) for i in range(24)]
    arr_list=[]
    for hour in hour_list:
        df_hour=df_rule1.loc[df_rule1["几点"]==hour]
        arr_result=df_hour.values
        arr_value=df_hour["流量"].values
        arr_get_list=[]
        for i in range(arr_value.shape[0]//7):
            arr_get_list.append((arr_value[i*7:(i+1)*7]).reshape([1,7]))
        arr_get=arr_get_list[0]
        for i in range(1,len(arr_get_list)):
            arr_get=np.concatenate((arr_get,arr_get_list[i]),axis=0)
        arr_get=arr_get.astype(np.float64)
        arr_sum=np.sum(arr_get,axis=1).reshape([arr_get.shape[0],1])
        arr_get=arr_get/arr_sum
        #print(arr_get[98])
        arr_pre_list=[]
        arr_pre_list.append((arr_get[0,:]*arr_sum[0,0]).reshape([7,1]))
        arr_pre_list.append((arr_get[0,:]*arr_sum[0,0]).reshape([7,1]))
        arr_pre_list.append((arr_get[1,:]*arr_sum[1,0]).reshape([7,1]))
        for i in range(3,8):
            arr_temp=arr_get[:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(8,98):
            arr_temp=arr_get[i-8:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(98,arr_get.shape[0]):
            arr_temp=arr_get[i-8:i,:]
            arr_med=np.median(arr_temp,axis=0)
            arr_sum[i]=np.mean(arr_sum[i-8:i])
            arr_get[i,:]=arr_med
            arr_med=arr_med.reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        arr_pre=arr_pre_list[0]
        for i in range(1,len(arr_pre_list)):
            arr_pre=np.concatenate((arr_pre,arr_pre_list[i]),axis=0)
        arr_result=np.concatenate((arr_result,arr_pre),axis=1)
        arr_list.append(arr_result)
    arr_rule2=arr_list[0]
    for i in range(1,len(arr_list)):
        arr_rule2=np.concatenate((arr_rule2,arr_list[i]),axis=0)
    df_rule2=pd.DataFrame(arr_rule2,columns=["索引","时间","地市","流量","年份","月份","几号","周几","几点","规则一(8)","规则一(6)","规则一(4)","规则二(8)"])
    df_rule2=df_rule2.sort_values("索引")
    return df_rule2
df_rule2=add_rule2(df_rule1_2)
df_rule2

,索引,时间,地市,流量,年份,月份,几号,周几,几点,规则一(8),规则一(6),规则一(4),规则二(8)
0,0,2017-01-02 00:00:00,A,3.69661,2017,1,2,1,0,3.69661,3.69661,3.69661,3.69661
784,1,2017-01-02 01:00:00,A,2.26506,2017,1,2,1,1,2.26506,2.26506,2.26506,2.26506
1568,2,2017-01-02 02:00:00,A,1.28614,2017,1,2,1,2,1.28614,1.28614,1.28614,1.28614
2352,3,2017-01-02 03:00:00,A,0.762149,2017,1,2,1,3,0.762149,0.762149,0.762149,0.762149
3136,4,2017-01-02 04:00:00,A,0.480649,2017,1,2,1,4,0.480649,0.480649,0.480649,0.480649
3920,5,2017-01-02 05:00:00,A,0.476143,2017,1,2,1,5,0.476143,0.476143,0.476143,0.476143
4704,6,2017-01-02 06:00:00,A,0.713217,2017,1,2,1,6,0.713217,0.713217,0.713217,0.713217
5488,7,2017-01-02 07:00:00,A,1.30854,2017,1,2,1,7,1.30854,1.30854,1.30854,1.30854
6272,8,2017-01-02 08:00:00,A,2.00105,2017,1,2,1,8,2.00105,2.00105,2.00105,2.00105
7056,9,2017-01-02 09:00:00,A,2.71709,2017,1,2,1,9,2.71709,2.71709,2.71709,2.71709
7840,10,2017-01-02 10:00:00,A,3.39473,2017,1,2,1,10,3.39473,3.39473,3.39473,3.39473
8624,11,2017-01-02 11:00:00,A,3.81304,2017,1,2,1,11,3.81304,3.81304,3.81304,3.81304
9408,12,2017-01-02 12:00:00,A,4.15732,2017,1,2,1,12,4.15732,4.15732,4.15732,4.15732
10192,13,2017-01-02 13:00:00,A,3.39824,2017,1,2,1,13,3.39824,3.39824,3.39824,3.39824
10976,14,2017-01-02 14:00:00,A,2.7325,2017,1,2,1,14,2.7325,2.7325,2.7325,2.7325
11760,15,2017-01-02 15:00:00,A,2.76912,2017,1,2,1,15,2.76912,2.76912,2.76912,2.76912
12544,16,2017-01-02 16:00:00,A,2.82443,2017,1,2,1,16,2.82443,2.82443,2.82443,2.82443
13328,17,2017-01-02 17:00:00,A,3.53929,2017,1,2,1,17,3.53929,3.53929,3.53929,3.53929
14112,18,2017-01-02 18:00:00,A,3.68272,2017,1,2,1,18,3.68272,3.68272,3.68272,3.68272
14896,19,2017-01-02 19:00:00,A,3.11838,2017,1,2,1,19,3.11838,3.11838,3.11838,3.11838
15680,20,2017-01-02 20:00:00,A,3.47697,2017,1,2,1,20,3.47697,3.47697,3.47697,3.47697
16464,21,2017-01-02 21:00:00,A,4.54773,2017,1,2,1,21,4.54773,4.54773,4.54773,4.54773
17248,22,2017-01-02 22:00:00,A,4.40346,2017,1,2,1,22,4.40346,4.40346,4.40346,4.40346
18032,23,2017-01-02 23:00:00,A,5.447,2017,1,2,1,23,5.447,5.447,5.447,5.447
1,24,2017-01-03 00:00:00,A,4.11248,2017,1,3,2,0,4.11248,4.11248,4.11248,4.11248
785,25,2017-01-03 01:00:00,A,2.27622,2017,1,3,2,1,2.27622,2.27622,2.27622,2.27622
1569,26,2017-01-03 02:00:00,A,1.24425,2017,1,3,2,2,1.24425,1.24425,1.24425,1.24425
2353,27,2017-01-03 03:00:00,A,0.720778,2017,1,3,2,3,0.720778,0.720778,0.720778,0.720778
3137,28,2017-01-03 04:00:00,A,0.497126,2017,1,3,2,4,0.497126,0.497126,0.497126,0.497126
3921,29,2017-01-03 05:00:00,A,0.474301,2017,1,3,2,5,0.474301,0.474301,0.474301,0.474301
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14894,18786,2019-02-23 18:00:00,A,1,2019,2,23,6,18,24.7794,25.1802,25.1475,25.7709
15678,18787,2019-02-23 19:00:00,A,1,2019,2,23,6,19,25.1077,25.2046,24.3512,24.6988
16462,18788,2019-02-23 20:00:00,A,1,2019,2,23,6,20,25.6305,25.9121,25.6565,25.7259
17246,18789,2019-02-23 21:00:00,A,1,2019,2,23,6,21,25.3951,25.1447,25.3495,24.935
18030,18790,2019-02-23 22:00:00,A,1,2019,2,23,6,22,23.8325,24.1161,23.9768,23.6721
18814,18791,2019-02-23 23:00:00,A,1,2019,2,23,6,23,21.5648,21.8333,22.3196,21.5621
783,18792,2019-02-24 00:00:00,A,1,2019,2,24,0,0,16.4964,16.9132,16.9654,16.6303
1567,18793,2019-02-24 01:00:00,A,1,2019,2,24,0,1,9.71335,10.2406,10.5233,10.2012
2351,18794,2019-02-24 02:00:00,A,1,2019,2,24,0,2,5.57205,6.01874,6.19256,5.96874
3135,18795,2019-02-24 03:00:00,A,1,2019,2,24,0,3,3.53029,3.8542,3.89564,3.76677
3919,18796,2019-02-24 04:00:00,A,1,2019,2,24,0,4,2.62758,2.80736,2.88978,2.76896
4703,18797,2019-02-24 05:00:00,A,1,2019,2,24,0,5,3.04401,3.053,3.07622,3.01077
5487,18798,2019-02-24 06:00:00,A,1,2019,2,24,0,6,5.09642,5.09934,5.13544,5.08549
6271,18799,2019-02-24 07:00:00,A,1,2019,2,24,0,7,9.48278,9.51153,9.56761,9.26704
7055,18800,2019-02-24 08:00:00,A,1,2019,2,24,0,8,13.8234,13.9819,14.0203,13.8531
7839,18801,2019-02-24 09:00:00,A,1,2019,2,24,0,9,17.1704,17.3133,17.1838,17.441
8623,18802,2019-02-24 10:00:00,A,1,2019,2,24,0,10,19.9775,20.1659,20.0866,20.11
9407,18803,2019-02-24 11:00:00,A,1,2019,2,24,0,11,22.0486,22.3061,22.258,22.1439
10191,18804,2019-02-24 12:00:00,A,1,2019,2,24,0,12,23.5073,23.7327,23.7128,23.847
10975,18805,2019-02-24 13:00:00,A,1,2019,2,24,0,13,21.9914,22.2037,22.1313,22.0871
11759,18806,2019-02-24 14:00:00,A,1,2019,2,24,0,14,21.4396,21.6108,21.5453,21.4065
12543,18807,2019-02-24 15:00:00,A,1,2019,2,24,0,15,21.3992,21.4012,21.2995,21.3769
13327,18808,2019-02-24 16:00:00,A,1,2019,2,24,0,16,22.6898,22.8272,22.4437,22.5868
14111,18809,2019-02-24 17:00:00,A,1,2019,2,24,0,17,22.7717,22.808,22.6377,23.0301
14895,18810,2019-02-24 18:00:00,A,1,2019,2,24,0,18,24.1436,24.4397,24.2476,23.9815
15679,18811,2019-02-24 19:00:00,A,1,2019,2,24,0,19,24.4372,24.594,24.5734,24.1368
16463,18812,2019-02-24 20:00:00,A,1,2019,2,24,0,20,25.069,25.2548,25.2916,24.9397
17247,18813,2019-02-24 21:00:00,A,1,2019,2,24,0,21,24.9043,25.071,25.1458,24.6966
18031,18814,2019-02-24 22:00:00,A,1,2019,2,24,0,22,24.1055,24.306,24.2951,23.7419
18815,18815,2019-02-24 23:00:00,A,1,2019,2,24,0,23,21.9142,22.1599,22.3449,21.6343

In [16]:
#规则二以6为窗口
def add_rule2_1(df_rule1):
    #hour_list=["0"]
    hour_list=[str(i) for i in range(24)]
    arr_list=[]
    for hour in hour_list:
        df_hour=df_rule1.loc[df_rule1["几点"]==hour]
        arr_result=df_hour.values
        arr_value=df_hour["流量"].values
        arr_get_list=[]
        for i in range(arr_value.shape[0]//7):
            arr_get_list.append((arr_value[i*7:(i+1)*7]).reshape([1,7]))
        arr_get=arr_get_list[0]
        for i in range(1,len(arr_get_list)):
            arr_get=np.concatenate((arr_get,arr_get_list[i]),axis=0)
        arr_get=arr_get.astype(np.float64)
        arr_sum=np.sum(arr_get,axis=1).reshape([arr_get.shape[0],1])
        arr_get=arr_get/arr_sum
        #print(arr_get[98])
        arr_pre_list=[]
        arr_pre_list.append((arr_get[0,:]*arr_sum[0,0]).reshape([7,1]))
        arr_pre_list.append((arr_get[0,:]*arr_sum[0,0]).reshape([7,1]))
        arr_pre_list.append((arr_get[1,:]*arr_sum[1,0]).reshape([7,1]))
        for i in range(3,6):
            arr_temp=arr_get[:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(6,98):
            arr_temp=arr_get[i-6:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(98,arr_get.shape[0]):
            arr_temp=arr_get[i-6:i,:]
            arr_med=np.median(arr_temp,axis=0)
            arr_sum[i]=np.mean(arr_sum[i-6:i])
            arr_get[i,:]=arr_med
            arr_med=arr_med.reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        arr_pre=arr_pre_list[0]
        for i in range(1,len(arr_pre_list)):
            arr_pre=np.concatenate((arr_pre,arr_pre_list[i]),axis=0)
        arr_result=np.concatenate((arr_result,arr_pre),axis=1)
        arr_list.append(arr_result)
    arr_rule2=arr_list[0]
    for i in range(1,len(arr_list)):
        arr_rule2=np.concatenate((arr_rule2,arr_list[i]),axis=0)
    df_rule2=pd.DataFrame(arr_rule2,columns=["索引","时间","地市","流量","年份","月份","几号","周几","几点","规则一(8)","规则一(6)","规则一(4)","规则二(8)","规则二(6)"])
    df_rule2=df_rule2.sort_values("索引")
    return df_rule2
df_rule2_1=add_rule2_1(df_rule2)
df_rule2_1

,索引,时间,地市,流量,年份,月份,几号,周几,几点,规则一(8),规则一(6),规则一(4),规则二(8),规则二(6)
0,0,2017-01-02 00:00:00,A,3.69661,2017,1,2,1,0,3.69661,3.69661,3.69661,3.69661,3.69661
784,1,2017-01-02 01:00:00,A,2.26506,2017,1,2,1,1,2.26506,2.26506,2.26506,2.26506,2.26506
1568,2,2017-01-02 02:00:00,A,1.28614,2017,1,2,1,2,1.28614,1.28614,1.28614,1.28614,1.28614
2352,3,2017-01-02 03:00:00,A,0.762149,2017,1,2,1,3,0.762149,0.762149,0.762149,0.762149,0.762149
3136,4,2017-01-02 04:00:00,A,0.480649,2017,1,2,1,4,0.480649,0.480649,0.480649,0.480649,0.480649
3920,5,2017-01-02 05:00:00,A,0.476143,2017,1,2,1,5,0.476143,0.476143,0.476143,0.476143,0.476143
4704,6,2017-01-02 06:00:00,A,0.713217,2017,1,2,1,6,0.713217,0.713217,0.713217,0.713217,0.713217
5488,7,2017-01-02 07:00:00,A,1.30854,2017,1,2,1,7,1.30854,1.30854,1.30854,1.30854,1.30854
6272,8,2017-01-02 08:00:00,A,2.00105,2017,1,2,1,8,2.00105,2.00105,2.00105,2.00105,2.00105
7056,9,2017-01-02 09:00:00,A,2.71709,2017,1,2,1,9,2.71709,2.71709,2.71709,2.71709,2.71709
7840,10,2017-01-02 10:00:00,A,3.39473,2017,1,2,1,10,3.39473,3.39473,3.39473,3.39473,3.39473
8624,11,2017-01-02 11:00:00,A,3.81304,2017,1,2,1,11,3.81304,3.81304,3.81304,3.81304,3.81304
9408,12,2017-01-02 12:00:00,A,4.15732,2017,1,2,1,12,4.15732,4.15732,4.15732,4.15732,4.15732
10192,13,2017-01-02 13:00:00,A,3.39824,2017,1,2,1,13,3.39824,3.39824,3.39824,3.39824,3.39824
10976,14,2017-01-02 14:00:00,A,2.7325,2017,1,2,1,14,2.7325,2.7325,2.7325,2.7325,2.7325
11760,15,2017-01-02 15:00:00,A,2.76912,2017,1,2,1,15,2.76912,2.76912,2.76912,2.76912,2.76912
12544,16,2017-01-02 16:00:00,A,2.82443,2017,1,2,1,16,2.82443,2.82443,2.82443,2.82443,2.82443
13328,17,2017-01-02 17:00:00,A,3.53929,2017,1,2,1,17,3.53929,3.53929,3.53929,3.53929,3.53929
14112,18,2017-01-02 18:00:00,A,3.68272,2017,1,2,1,18,3.68272,3.68272,3.68272,3.68272,3.68272
14896,19,2017-01-02 19:00:00,A,3.11838,2017,1,2,1,19,3.11838,3.11838,3.11838,3.11838,3.11838
15680,20,2017-01-02 20:00:00,A,3.47697,2017,1,2,1,20,3.47697,3.47697,3.47697,3.47697,3.47697
16464,21,2017-01-02 21:00:00,A,4.54773,2017,1,2,1,21,4.54773,4.54773,4.54773,4.54773,4.54773
17248,22,2017-01-02 22:00:00,A,4.40346,2017,1,2,1,22,4.40346,4.40346,4.40346,4.40346,4.40346
18032,23,2017-01-02 23:00:00,A,5.447,2017,1,2,1,23,5.447,5.447,5.447,5.447,5.447
1,24,2017-01-03 00:00:00,A,4.11248,2017,1,3,2,0,4.11248,4.11248,4.11248,4.11248,4.11248
785,25,2017-01-03 01:00:00,A,2.27622,2017,1,3,2,1,2.27622,2.27622,2.27622,2.27622,2.27622
1569,26,2017-01-03 02:00:00,A,1.24425,2017,1,3,2,2,1.24425,1.24425,1.24425,1.24425,1.24425
2353,27,2017-01-03 03:00:00,A,0.720778,2017,1,3,2,3,0.720778,0.720778,0.720778,0.720778,0.720778
3137,28,2017-01-03 04:00:00,A,0.497126,2017,1,3,2,4,0.497126,0.497126,0.497126,0.497126,0.497126
3921,29,2017-01-03 05:00:00,A,0.474301,2017,1,3,2,5,0.474301,0.474301,0.474301,0.474301,0.474301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14894,18786,2019-02-23 18:00:00,A,1,2019,2,23,6,18,24.7794,25.1802,25.1475,25.7709,25.8396
15678,18787,2019-02-23 19:00:00,A,1,2019,2,23,6,19,25.1077,25.2046,24.3512,24.6988,24.8811
16462,18788,2019-02-23 20:00:00,A,1,2019,2,23,6,20,25.6305,25.9121,25.6565,25.7259,25.7252
17246,18789,2019-02-23 21:00:00,A,1,2019,2,23,6,21,25.3951,25.1447,25.3495,24.935,25.1009
18030,18790,2019-02-23 22:00:00,A,1,2019,2,23,6,22,23.8325,24.1161,23.9768,23.6721,23.9823
18814,18791,2019-02-23 23:00:00,A,1,2019,2,23,6,23,21.5648,21.8333,22.3196,21.5621,21.9238
783,18792,2019-02-24 00:00:00,A,1,2019,2,24,0,0,16.4964,16.9132,16.9654,16.6303,16.8867
1567,18793,2019-02-24 01:00:00,A,1,2019,2,24,0,1,9.71335,10.2406,10.5233,10.2012,10.4519
2351,18794,2019-02-24 02:00:00,A,1,2019,2,24,0,2,5.57205,6.01874,6.19256,5.96874,6.08726
3135,18795,2019-02-24 03:00:00,A,1,2019,2,24,0,3,3.53029,3.8542,3.89564,3.76677,3.84837
3919,18796,2019-02-24 04:00:00,A,1,2019,2,24,0,4,2.62758,2.80736,2.88978,2.76896,2.82627
4703,18797,2019-02-24 05:00:00,A,1,2019,2,24,0,5,3.04401,3.053,3.07622,3.01077,3.03424
5487,18798,2019-02-24 06:00:00,A,1,2019,2,24,0,6,5.09642,5.09934,5.13544,5.08549,5.00369
6271,18799,2019-02-24 07:00:00,A,1,2019,2,24,0,7,9.48278,9.51153,9.56761,9.26704,9.30262
7055,18800,2019-02-24 08:00:00,A,1,2019,2,24,0,8,13.8234,13.9819,14.0203,13.8531,13.8647
7839,18801,2019-02-24 09:00:00,A,1,2019,2,24,0,9,17.1704,17.3133,17.1838,17.441,17.2002
8623,18802,2019-02-24 10:00:00,A,1,2019,2,24,0,10,19.9775,20.1659,20.0866,20.11,20.1948
9407,18803,2019-02-24 11:00:00,A,1,2019,2,24,0,11,22.0486,22.3061,22.258,22.1439,22.1937
10191,18804,2019-02-24 12:00:00,A,1,2019,2,24,0,12,23.5073,23.7327,23.7128,23.847,24.1236
10975,18805,2019-02-24 13:00:00,A,1,2019,2,24,0,13,21.9914,22.2037,22.1313,22.0871,22.1773
11759,18806,2019-02-24 14:00:00,A,1,2019,2,24,0,14,21.4396,21.6108,21.5453,21.4065,21.3992
12543,18807,2019-02-24 15:00:00,A,1,2019,2,24,0,15,21.3992,21.4012,21.2995,21.3769,21.5275
13327,18808,2019-02-24 16:00:00,A,1,2019,2,24,0,16,22.6898,22.8272,22.4437,22.5868,22.845
14111,18809,2019-02-24 17:00:00,A,1,2019,2,24,0,17,22.7717,22.808,22.6377,23.0301,23.1366
14895,18810,2019-02-24 18:00:00,A,1,2019,2,24,0,18,24.1436,24.4397,24.2476,23.9815,24.4354
15679,18811,2019-02-24 19:00:00,A,1,2019,2,24,0,19,24.4372,24.594,24.5734,24.1368,24.3665
16463,18812,2019-02-24 20:00:00,A,1,2019,2,24,0,20,25.069,25.2548,25.2916,24.9397,25.2593
17247,18813,2019-02-24 21:00:00,A,1,2019,2,24,0,21,24.9043,25.071,25.1458,24.6966,25.0149
18031,18814,2019-02-24 22:00:00,A,1,2019,2,24,0,22,24.1055,24.306,24.2951,23.7419,24.1155
18815,18815,2019-02-24 23:00:00,A,1,2019,2,24,0,23,21.9142,22.1599,22.3449,21.6343,22.0542

In [17]:
#规则二以4为窗口
def add_rule2_2(df_rule1):
    #hour_list=["0"]
    hour_list=[str(i) for i in range(24)]
    arr_list=[]
    for hour in hour_list:
        df_hour=df_rule1.loc[df_rule1["几点"]==hour]
        arr_result=df_hour.values
        arr_value=df_hour["流量"].values
        arr_get_list=[]
        for i in range(arr_value.shape[0]//7):
            arr_get_list.append((arr_value[i*7:(i+1)*7]).reshape([1,7]))
        arr_get=arr_get_list[0]
        for i in range(1,len(arr_get_list)):
            arr_get=np.concatenate((arr_get,arr_get_list[i]),axis=0)
        arr_get=arr_get.astype(np.float64)
        arr_sum=np.sum(arr_get,axis=1).reshape([arr_get.shape[0],1])
        arr_get=arr_get/arr_sum
        #print(arr_get[98])
        arr_pre_list=[]
        arr_pre_list.append((arr_get[0,:]*arr_sum[0,0]).reshape([7,1]))
        arr_pre_list.append((arr_get[0,:]*arr_sum[0,0]).reshape([7,1]))
        arr_pre_list.append((arr_get[1,:]*arr_sum[1,0]).reshape([7,1]))
        for i in range(3,4):
            arr_temp=arr_get[:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(4,98):
            arr_temp=arr_get[i-4:i,:]
            arr_med=np.median(arr_temp,axis=0).reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        for i in range(98,arr_get.shape[0]):
            arr_temp=arr_get[i-4:i,:]
            arr_med=np.median(arr_temp,axis=0)
            arr_sum[i]=np.mean(arr_sum[i-4:i])
            arr_get[i,:]=arr_med
            arr_med=arr_med.reshape([7,1])
            arr_pre_list.append(arr_med*arr_sum[i-1,0])
        arr_pre=arr_pre_list[0]
        for i in range(1,len(arr_pre_list)):
            arr_pre=np.concatenate((arr_pre,arr_pre_list[i]),axis=0)
        arr_result=np.concatenate((arr_result,arr_pre),axis=1)
        arr_list.append(arr_result)
    arr_rule2=arr_list[0]
    for i in range(1,len(arr_list)):
        arr_rule2=np.concatenate((arr_rule2,arr_list[i]),axis=0)
    df_rule2=pd.DataFrame(arr_rule2,columns=["索引","时间","地市","流量","年份","月份","几号","周几","几点","规则一(8)","规则一(6)","规则一(4)","规则二(8)","规则二(6)","规则二(4)"])
    df_rule2=df_rule2.sort_values("索引")
    return df_rule2
df_rule2_2=add_rule2_2(df_rule2_1)
df_rule2_2

,索引,时间,地市,流量,年份,月份,几号,周几,几点,规则一(8),规则一(6),规则一(4),规则二(8),规则二(6),规则二(4)
0,0,2017-01-02 00:00:00,A,3.69661,2017,1,2,1,0,3.69661,3.69661,3.69661,3.69661,3.69661,3.69661
784,1,2017-01-02 01:00:00,A,2.26506,2017,1,2,1,1,2.26506,2.26506,2.26506,2.26506,2.26506,2.26506
1568,2,2017-01-02 02:00:00,A,1.28614,2017,1,2,1,2,1.28614,1.28614,1.28614,1.28614,1.28614,1.28614
2352,3,2017-01-02 03:00:00,A,0.762149,2017,1,2,1,3,0.762149,0.762149,0.762149,0.762149,0.762149,0.762149
3136,4,2017-01-02 04:00:00,A,0.480649,2017,1,2,1,4,0.480649,0.480649,0.480649,0.480649,0.480649,0.480649
3920,5,2017-01-02 05:00:00,A,0.476143,2017,1,2,1,5,0.476143,0.476143,0.476143,0.476143,0.476143,0.476143
4704,6,2017-01-02 06:00:00,A,0.713217,2017,1,2,1,6,0.713217,0.713217,0.713217,0.713217,0.713217,0.713217
5488,7,2017-01-02 07:00:00,A,1.30854,2017,1,2,1,7,1.30854,1.30854,1.30854,1.30854,1.30854,1.30854
6272,8,2017-01-02 08:00:00,A,2.00105,2017,1,2,1,8,2.00105,2.00105,2.00105,2.00105,2.00105,2.00105
7056,9,2017-01-02 09:00:00,A,2.71709,2017,1,2,1,9,2.71709,2.71709,2.71709,2.71709,2.71709,2.71709
7840,10,2017-01-02 10:00:00,A,3.39473,2017,1,2,1,10,3.39473,3.39473,3.39473,3.39473,3.39473,3.39473
8624,11,2017-01-02 11:00:00,A,3.81304,2017,1,2,1,11,3.81304,3.81304,3.81304,3.81304,3.81304,3.81304
9408,12,2017-01-02 12:00:00,A,4.15732,2017,1,2,1,12,4.15732,4.15732,4.15732,4.15732,4.15732,4.15732
10192,13,2017-01-02 13:00:00,A,3.39824,2017,1,2,1,13,3.39824,3.39824,3.39824,3.39824,3.39824,3.39824
10976,14,2017-01-02 14:00:00,A,2.7325,2017,1,2,1,14,2.7325,2.7325,2.7325,2.7325,2.7325,2.7325
11760,15,2017-01-02 15:00:00,A,2.76912,2017,1,2,1,15,2.76912,2.76912,2.76912,2.76912,2.76912,2.76912
12544,16,2017-01-02 16:00:00,A,2.82443,2017,1,2,1,16,2.82443,2.82443,2.82443,2.82443,2.82443,2.82443
13328,17,2017-01-02 17:00:00,A,3.53929,2017,1,2,1,17,3.53929,3.53929,3.53929,3.53929,3.53929,3.53929
14112,18,2017-01-02 18:00:00,A,3.68272,2017,1,2,1,18,3.68272,3.68272,3.68272,3.68272,3.68272,3.68272
14896,19,2017-01-02 19:00:00,A,3.11838,2017,1,2,1,19,3.11838,3.11838,3.11838,3.11838,3.11838,3.11838
15680,20,2017-01-02 20:00:00,A,3.47697,2017,1,2,1,20,3.47697,3.47697,3.47697,3.47697,3.47697,3.47697
16464,21,2017-01-02 21:00:00,A,4.54773,2017,1,2,1,21,4.54773,4.54773,4.54773,4.54773,4.54773,4.54773
17248,22,2017-01-02 22:00:00,A,4.40346,2017,1,2,1,22,4.40346,4.40346,4.40346,4.40346,4.40346,4.40346
18032,23,2017-01-02 23:00:00,A,5.447,2017,1,2,1,23,5.447,5.447,5.447,5.447,5.447,5.447
1,24,2017-01-03 00:00:00,A,4.11248,2017,1,3,2,0,4.11248,4.11248,4.11248,4.11248,4.11248,4.11248
785,25,2017-01-03 01:00:00,A,2.27622,2017,1,3,2,1,2.27622,2.27622,2.27622,2.27622,2.27622,2.27622
1569,26,2017-01-03 02:00:00,A,1.24425,2017,1,3,2,2,1.24425,1.24425,1.24425,1.24425,1.24425,1.24425
2353,27,2017-01-03 03:00:00,A,0.720778,2017,1,3,2,3,0.720778,0.720778,0.720778,0.720778,0.720778,0.720778
3137,28,2017-01-03 04:00:00,A,0.497126,2017,1,3,2,4,0.497126,0.497126,0.497126,0.497126,0.497126,0.497126
3921,29,2017-01-03 05:00:00,A,0.474301,2017,1,3,2,5,0.474301,0.474301,0.474301,0.474301,0.474301,0.474301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14894,18786,2019-02-23 18:00:00,A,1,2019,2,23,6,18,24.7794,25.1802,25.1475,25.7709,25.8396,25.1421
15678,18787,2019-02-23 19:00:00,A,1,2019,2,23,6,19,25.1077,25.2046,24.3512,24.6988,24.8811,24.5228
16462,18788,2019-02-23 20:00:00,A,1,2019,2,23,6,20,25.6305,25.9121,25.6565,25.7259,25.7252,25.3817
17246,18789,2019-02-23 21:00:00,A,1,2019,2,23,6,21,25.3951,25.1447,25.3495,24.935,25.1009,25.0811
18030,18790,2019-02-23 22:00:00,A,1,2019,2,23,6,22,23.8325,24.1161,23.9768,23.6721,23.9823,24.0185
18814,18791,2019-02-23 23:00:00,A,1,2019,2,23,6,23,21.5648,21.8333,22.3196,21.5621,21.9238,21.998
783,18792,2019-02-24 00:00:00,A,1,2019,2,24,0,0,16.4964,16.9132,16.9654,16.6303,16.8867,16.9333
1567,18793,2019-02-24 01:00:00,A,1,2019,2,24,0,1,9.71335,10.2406,10.5233,10.2012,10.4519,10.8209
2351,18794,2019-02-24 02:00:00,A,1,2019,2,24,0,2,5.57205,6.01874,6.19256,5.96874,6.08726,6.38611
3135,18795,2019-02-24 03:00:00,A,1,2019,2,24,0,3,3.53029,3.8542,3.89564,3.76677,3.84837,4.01432
3919,18796,2019-02-24 04:00:00,A,1,2019,2,24,0,4,2.62758,2.80736,2.88978,2.76896,2.82627,2.84284
4703,18797,2019-02-24 05:00:00,A,1,2019,2,24,0,5,3.04401,3.053,3.07622,3.01077,3.03424,3.0557
5487,18798,2019-02-24 06:00:00,A,1,2019,2,24,0,6,5.09642,5.09934,5.13544,5.08549,5.00369,5.08143
6271,18799,2019-02-24 07:00:00,A,1,2019,2,24,0,7,9.48278,9.51153,9.56761,9.26704,9.30262,9.24332
7055,18800,2019-02-24 08:00:00,A,1,2019,2,24,0,8,13.8234,13.9819,14.0203,13.8531,13.8647,13.7479
7839,18801,2019-02-24 09:00:00,A,1,2019,2,24,0,9,17.1704,17.3133,17.1838,17.441,17.2002,17.1677
8623,18802,2019-02-24 10:00:00,A,1,2019,2,24,0,10,19.9775,20.1659,20.0866,20.11,20.1948,20.1135
9407,18803,2019-02-24 11:00:00,A,1,2019,2,24,0,11,22.0486,22.3061,22.258,22.1439,22.1937,22.0667
10191,18804,2019-02-24 12:00:00,A,1,2019,2,24,0,12,23.5073,23.7327,23.7128,23.847,24.1236,23.9313
10975,18805,2019-02-24 13:00:00,A,1,2019,2,24,0,13,21.9914,22.2037,22.1313,22.0871,22.1773,21.9152
11759,18806,2019-02-24 14:00:00,A,1,2019,2,24,0,14,21.4396,21.6108,21.5453,21.4065,21.3992,21.2748
12543,18807,2019-02-24 15:00:00,A,1,2019,2,24,0,15,21.3992,21.4012,21.2995,21.3769,21.5275,21.4382
13327,18808,2019-02-24 16:00:00,A,1,2019,2,24,0,16,22.6898,22.8272,22.4437,22.5868,22.845,22.5842
14111,18809,2019-02-24 17:00:00,A,1,2019,2,24,0,17,22.7717,22.808,22.6377,23.0301,23.1366,22.8584
14895,18810,2019-02-24 18:00:00,A,1,2019,2,24,0,18,24.1436,24.4397,24.2476,23.9815,24.4354,24.1736
15679,18811,2019-02-24 19:00:00,A,1,2019,2,24,0,19,24.4372,24.594,24.5734,24.1368,24.3665,24.1706
16463,18812,2019-02-24 20:00:00,A,1,2019,2,24,0,20,25.069,25.2548,25.2916,24.9397,25.2593,25.3025
17247,18813,2019-02-24 21:00:00,A,1,2019,2,24,0,21,24.9043,25.071,25.1458,24.6966,25.0149,25.1463
18031,18814,2019-02-24 22:00:00,A,1,2019,2,24,0,22,24.1055,24.306,24.2951,23.7419,24.1155,24.2316
18815,18815,2019-02-24 23:00:00,A,1,2019,2,24,0,23,21.9142,22.1599,22.3449,21.6343,22.0542,22.2377

In [18]:
def split_data(df_city,city):
    df_temp=generate(df_city,city)
    df_rule1=add_rule1(df_temp)
    df_rule1_1=add_rule1_1(df_rule1)
    df_rule1_2=add_rule1_2(df_rule1_1)
    df_rule2=add_rule2(df_rule1_2)
    df_rule2_1=add_rule2_1(df_rule2)
    df_rule2_2=add_rule2_2(df_rule2_1)
    df_train=df_rule2_2.loc[df_rule2_2["时间"]<="2018-11-15 23:00:00"]
    df_test=df_rule2_2.loc[(df_rule2_2["时间"]>="2018-11-16 00:00:00")&(df_rule2_2["时间"]<="2019-02-18 23:00:00")]    
    return df_train,df_test

df_A_train,df_A_test=split_data(df_data_A,"A")
df_B_train,df_B_test=split_data(df_data_B,"B")
df_C_train,df_C_test=split_data(df_data_C,"C")

(18816, 9)
(18816, 10)
(18816, 11)
(18816, 9)
(18816, 10)
(18816, 11)
(18816, 9)
(18816, 10)
(18816, 11)

In [19]:
df_A_train.to_csv("data/A_train.csv",index=False)
df_A_test.to_csv("data/A_test.csv",index=False)
df_B_train.to_csv("data/B_train.csv",index=False)
df_B_test.to_csv("data/B_test.csv",index=False)
df_C_train.to_csv("data/C_trian.csv",index=False)
df_C_test.to_csv("data/C_test.csv",index=False)

In [78]:
df_final.to_csv("first.csv",index=False,float_format ='%.3f',encoding="gbk")